<!DOCTYPE html>
<html>
  <head>
    <title>A Timestamp Microservice</title>
    <meta name = "description" content = "A project for FCC">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Timestamp Microservice
    </h1>
    <p>
      A project for <a href="http://www.freecodecamp.com">Free Code Camp</a>.
    </p>
    <p>
      Enter a date:
    </p>
    <input id="input" placeholder="January 1, 1970">
    <button id="get_stamp">
      Get timestamp.
    </button>
    <script src="/client.js"></script>
  </body>
</html>